<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <title>MyFxTracker Weekly Reports</title>
        <style>
            body {
                font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                text-align: center;                
            }
        </style>
    </head>
    <body>
        <div>
            <div>
                <img src="https://myfxtracker.com/static/logo.png" alt="Logo" width='50px' height='50px'>
                <h3>Your Weekly Trading Summary - MyFxTracker</h3>
            </div>
            <div>
                <p>Dear Trader,</p>
                <p>This week you took a total of 10 trades on all 3 of your accounts.</p>   
                <p>Here's the summary:</p>
            </div>
            <div>
                <h4>For Account1:</h4>
                <div>
                    <div>
                        <p>Number of trades: 10&nbsp;</p>
                    </div>
                    <div>
                        <p>Account gain: $32&nbsp;</p>
                    </div>
                    <div>
                        <p>Pips Caught: 3&nbsp;</p>
                    </div>
                    <div>
                        <p>Best Trade: $320&nbsp;</p>
                    </div>
                    <div>
                        <p>Worst Trade: -$23&nbsp;</p>
                    </div>
                </div>
            </div>
            <div>
                <h4>For Account2:</h4>
                <div>
                    <div>
                        <p>Number of trades: 10&nbsp;</p>
                    </div>
                    <div>
                        <p>Account gain: $32&nbsp;</p>
                    </div>
                    <div>
                        <p>Pips Caught: 3&nbsp;</p>
                    </div>
                    <div>
                        <p>Best Trade: $320&nbsp;</p>
                    </div>
                    <div>
                        <p>Worst Trade: -$23&nbsp;</p>
                    </div>
                </div>
            </div>
            <p>Go to your <a href="https://myfxtracker.com/app/" target='_blank'>MyFxTracker Dashboard</a> to access your full analytics</p>
            <p>Thank you for choosing MyFxTracker.</p>
        </div>
    </body>
</html>