<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>MyFxTracker Weekly Reports</title>
<style>body {
margin-left: 25%; margin-right: 25%; font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.account-stats div::after {
content: ''; clear: both; display: table;
}
</style>
</head>



<body style='margin-left: 25%; margin-right: 25%; font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";'>
    <div class="container" style="padding-left: 15%; padding-right: 15%; border-radius: 5px; padding-bottom: 20px; border: 1px solid grey;">
        <div class="header" style="margin-top: 10px; margin-bottom: 20px;">
            <img src="https://myfxtracker.com/static/logo.png" alt="Logo" width="50px" height="50px" style="display: inline;">
            <h3 style="display: inline;">Your Weekly Trading Summary - MyFxTracker</h3>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <p style="display: block; margin: 0 0 5px;">Dear Trader,</p>
            <p style="display: block; margin: 0 0 5px;">This week you took a total of {{overall_no_of_trades}} trades on all {{altered_accounts_no}} of your {% if altered_accounts_no != 1 %}accounts. {% else %}account. {% endif %}</p>   
            <p style="display: block; margin: 0 0 5px;">Here's the summary:</p>
        </div>
        {% for name, trade in accounts.items %}
        <div class="row" style="margin-bottom: 20px;">
            <h4 style="margin-left: 30%; margin-right: 25%;">For {{name}}:</h4>
            <div class="account-stats" style="margin-left: 10%; margin-right: 10%;">
                <div>
                    <p class="key" style="display: inline-block; margin: 0 0 5px;" align="left">Number of trades: </p>
                    <p class="value" style="display: inline-block; float: right; margin: 0 0 5px;">{{trade.no_of_trades}}</p>
                </div>
                <div>
                    <p class="key" style="display: inline-block; margin: 0 0 5px;" align="left">Account gain: </p>
                    <p class="value" style="display: inline-block; float: right; margin: 0 0 5px;">${{trade.account_gain}}</p>
                </div>
                <div>
                    <p class="key" style="display: inline-block; margin: 0 0 5px;" align="left"></p>Pips Caught: 
                    <p class="value" style="display: inline-block; float: right; margin: 0 0 5px;">{{trade.pips}}</p>
                </div>
                <div>
                    <p class="key" style="display: inline-block; margin: 0 0 5px;" align="left"></p>Best Trade: 
                    <p class="value" style="display: inline-block; float: right; margin: 0 0 5px;">${{trade.best_trade}}</p>
                </div>
                <div>
                    <p class="key" style="display: inline-block; margin: 0 0 5px;" align="left"></p>Worst Trade: 
                    <p class="value" style="display: inline-block; float: right; margin: 0 0 5px;">-${{trade.worst_trade}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <p style="display: inline; margin: 0 0 5px;">Go to your <a href="https://myfxtracker.com/app/" target="_blank">MyFxTracker Dashboard</a> to access your full analytics</p>
        <p style="display: inline; margin: 0 0 5px;">Thank you for choosing MyFxTracker.</p>
    </div>
</body>
</html>
