[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-allauth = "*"
dj-rest-auth = "*"
psycopg2-binary = "*"
mailchimp-marketing = "*"
pillow = "*"
django-rest-passwordreset = "*"
nanoid = "*"
django-database-url = "*"
whitenoise = "*"
daphne = "*"
metaapi-cloud-sdk = "*"
rq = "*"
django-rq = "*"
rq-scheduler = "*"
rave-python = "*"
itsdangerous = "*"

[dev-packages]
maildump = "*"
django-cors-headers = "*"
selenium = "*"
mkdocs = "*"

[requires]
python_version = "3.10"
