aiohttp==3.7.4
asgiref==3.5.0
async-timeout==3.0.1
attrs==21.4.0
autobahn==22.3.2
Automat==20.2.0
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
constantly==15.1.0
cryptography==36.0.2
daphne==3.0.2
defusedxml==0.7.1
dj-rest-auth==2.2.4
Django==4.0.3
django-allauth==0.50.0
django-database-url==1.0.3
django-rest-passwordreset==1.2.1
djangorestframework==3.13.1
h11==0.13.0
httpcore==0.12.3
httpx==0.16.1
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
iso8601==1.0.2
mailchimp-marketing==3.0.74
metaapi-cloud-copyfactory-sdk==3.3.1
metaapi-cloud-metastats-sdk==2.0.0
metaapi-cloud-sdk==16.2.0
multidict==6.0.2
nanoid==2.0.0
oauthlib==3.2.0
Pillow==9.1.0
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyJWT==2.3.0
pyOpenSSL==22.0.0
python-dateutil==2.8.2
python-engineio==3.14.2
python-socketio==4.6.0
python3-openid==3.2.0
pytz==2022.1
requests==2.24.0
requests-oauthlib==1.3.1
rfc3986==1.5.0
service-identity==21.1.0
six==1.16.0
sniffio==1.2.0
sqlparse==0.4.2
Twisted==22.2.0
txaio==22.2.1
typing-extensions==3.10.0.2
urllib3==1.25.11
websockets==9.1
whitenoise==6.0.0
yarl==1.7.2
zope.interface==5.4.0
