.apps-info-app-home-features-section-container {
    margin-top: -300px;
    padding-top: 300px;
    padding-bottom: var(--dimen-padding-xbig);
    background-color: var(--color-light-gray);
}

div.apps-info-app-home-features-section-feature-cards-content {
    padding: var(--dimen-padding-xs);
    background-color: var(--color-white);
    box-shadow: 10px 25px 40px -22px rgb(104 119 142 / 8%);
    border-radius: 10px;
    height: 280px;
}

@media (max-width: 1088px){
    div.apps-info-app-home-features-section-feature-cards-content {
        height: 350px;
    }
}

@media (max-width: 1018px){
    div.apps-info-app-home-features-section-feature-cards-content {
        height: 370px;
    }
}
