.apps-info-app-home-get-started-steps-container {
    grid-column: span 6;
    display: flex;
    justify-content: center;
}

@media (max-width: 925px) {
    .apps-info-app-home-get-started-steps-container {
        grid-column: span 12;
    }
}

.apps-info-app-home-getting-started-step-content {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    height: 300px;
}

.apps-info-app-home-getting-started-step-content > div > p {
    text-align: left;
}

.apps-info-app-home-getting-started-step-content > div {
    margin-bottom: 90px;
}

@media (max-width: 1064px) and (min-width: 620px) {
    .apps-info-app-home-getting-started-step-content > div {
        margin-bottom: 40px;
    }
}

@media (max-width: 925px) and (min-width: 595px) {
    .apps-info-app-home-getting-started-step-content > div {
        margin-bottom: 65px;
    }
}

@media (max-width: 596px) {
    .apps-info-app-home-getting-started-step-content > div {
        margin-bottom: 45px;
    }
}