.apps-info-app-home-why-traders-prefer-us-reasons-cards-container {
    grid-column: span 9;
}

@media (max-width: 1146px) {
    .apps-info-app-home-why-traders-prefer-us-reasons-cards-container {
        grid-column: span 12;
        display: flex;
        justify-content: center;
        padding-bottom: var(--dimen-padding-xbig);
    }
}

@media (max-width: 814px) {
    .apps-info-app-home-why-traders-prefer-us-reasons-cards-container > div {
        grid-column: span 12;
        display: flex;
        flex-direction: column;
    }
}